<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.felix.login">

    <uses-permission android:name="android.permission.INTERNET" />
    <application android:networkSecurityConfig="@xml/network_security_config">
        <activity android:name=".ui.WelcomeActivity"></activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
    </application>

</manifest>