<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.felix.contact">

    <application>
        <activity android:name=".detail.EditContactActivity"></activity>
        <activity android:name=".detail.ContactDetailActivity" />
        <activity android:name=".search.SearchActivity" />
    </application>

</manifest>